<h1>This is the Secret Page!</h1>

<p>You found me!</p>

<img src="http://sad.hasbro.com/a9e79c9b34ea183cad07eb995c5f51818b6c9447/df48be66f8202ba3aa2f218209e43523.png">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>