<% include partials/header %>

<h1>This is the home page</h1>
<img src = "https://fa707ec5abab9620c91c-e087a9513984a31bae18dd7ef8b1f502.ssl.cf1.rackcdn.com/12330495_finally-the-2017-yamaha-yzf-r6-emerges_t510aff4f.jpg"> 

<% include partials/footer %>